/* ***** Reset ***** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{ margin: 0; padding: 0; border: 0; vertical-align: baseline; }
/****** HTML5 POUR LES VIEUX BROWSERS *****/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{  display: block; }
body{ line-height: 1; }
ol, ul{ list-style: none; }
blockquote, q{ quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after{ content: ''; content: none; }
table{  border-collapse: collapse; border-spacing: 0; }
/* ***** END Reset ***** */

/* ***** Main Variables ***** */
:root{
	--color-1:orangered; /* Main Color Variable */
	--color-2:green; /* Second Color Variable */
	--ad-bg:#fff; /* Banner Background */
	--ad-color:#000; /* Base Text Color */
	--border-color:#000; /* Ad Border Color */
}
/* Example How to Use Variables : var(--color-1) */

/* ***** Base Global Styling ***** */
*{
	box-sizing:border-box;
}

img{
	width:100%;
}

/* ***** Ad Container ***** */
#ad-container{
	position:relative;
    display:block;
    overflow:hidden;
    margin:auto;
    width:var(--ad-width);
    height:var(--ad-height);
    max-width:var(--ad-width);
    max-height:var(--ad-height);
    box-sizing:border-box;
	background-color:var(--ad-bg);
	color:var(--ad-color);
}

/* ***** Banner Border ***** */
#ad-container:after{
	content:" ";
	position:absolute;
	left:0;
	top:0;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: solid 1px var(--border-color);
	pointer-events: none !important;
	z-index:999;
}

/* ***** HitZone ClickTag ***** */
#hitzone{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:99999;
	cursor:pointer;
}

/* ***** Button Replay ***** */
.btn--replay{
    position: absolute;
    z-index:999999;
    top:0px;
    left:0px;
    width:30px;
    height:30px;
    line-height:0;
    opacity:0;
    pointer-events: none;
    cursor: pointer;
}

.btn--replay svg{
	position:absolute;
	left:15%;
	top:15%;
	width:35%;
	height:35%;
	fill:#000;
	-webkit-transition: all 0.4s cubic-bezier(.4,0,.2,1); -moz-transition: all 0.4s cubic-bezier(.4,0,.2,1); -ms-transition: all 0.4s cubic-bezier(.4,0,.2,1); -o-transition: all 0.4s cubic-bezier(.4,0,.2,1); transition: all 0.4s cubic-bezier(.4,0,.2,1);
}

.btn--replay:hover svg{
	-moz-transform: rotate(-270deg); -webkit-transform: rotate(-270deg); -o-transform: rotate(-270deg); -ms-transform: rotate(-270deg); transform: rotate(-270deg);
}

/* ***** Timeline Finished ***** */
.timeline-finished .btn--replay{
	opacity:1;
    pointer-events: all;
}

.content-banner{
	position:relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
}



/* ***** Reset ***** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{ margin: 0; padding: 0; border: 0; vertical-align: baseline; }
/****** HTML5 POUR LES VIEUX BROWSERS *****/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{  display: block; }
body{ line-height: 1; }
ol, ul{ list-style: none; }
blockquote, q{ quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after{ content: ''; content: none; }
table{  border-collapse: collapse; border-spacing: 0; }
/* ***** END Reset ***** */

/* ***** Main Variables ***** */
:root{
	--color-1:#89c5ec; /* Main Color Variable */
	--color-2:#e20025; /* Second Color Variable */
	--ad-bg:#94cee1; /* Banner Background */
	--ad-color:#231f20; /* Base Text Color */
	--border-color:#000; /* Ad Border Color */
}
/* Example How to Use Variables : var(--color-1) */

/* ***** Base Global Styling ***** */
*{
	box-sizing:border-box;
}

img{
	width:100%;
}

/* ***** Ad Container ***** */
#ad-container{
	position:relative;
    display:block;
    overflow:hidden;
    margin:auto;
    width:var(--ad-width);
    height:var(--ad-height);
    max-width:var(--ad-width);
    max-height:var(--ad-height);
    box-sizing:border-box;
	background-color:var(--ad-bg);
	color:var(--ad-color);
}

/* ***** Banner Border ***** */
#ad-container:after{
	content:" ";
	position:absolute;
	left:0;
	top:0;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: solid 1px var(--border-color);
	pointer-events: none !important;
	z-index:999;
}

/* ***** HitZone ClickTag ***** */
#hitzone{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:99999;
	cursor:pointer;
}

/* ***** Button Replay ***** */
.btn--replay{
    position: absolute;
    z-index:999999;
    top:0px;
    left:0px;
    width:30px;
    height:30px;
    line-height:0;
    opacity:0;
    pointer-events: none;
	cursor: pointer;
}

.btn--replay svg{
	position:absolute;
	left:15%;
	top:15%;
	width:35%;
	height:35%;
	fill:#000;
	-webkit-transition: all 0.4s cubic-bezier(.4,0,.2,1); -moz-transition: all 0.4s cubic-bezier(.4,0,.2,1); -ms-transition: all 0.4s cubic-bezier(.4,0,.2,1); -o-transition: all 0.4s cubic-bezier(.4,0,.2,1); transition: all 0.4s cubic-bezier(.4,0,.2,1);
}

.btn--replay:hover svg{
	-moz-transform: rotate(-270deg); -webkit-transform: rotate(-270deg); -o-transform: rotate(-270deg); -ms-transform: rotate(-270deg); transform: rotate(-270deg);
}

/* ***** Timeline Finished ***** */
.timeline-finished .btn--replay{
	opacity:1;
    pointer-events: all;
}

.content-banner{
	position:relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
}




/* ********** Custom Css ********** */
.content-item{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.item, .text{
	position:absolute;
	left:50%;
	top:50%;
	width:100%;
	height:100%;
	z-index:9;
	-moz-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);
}

.text{
	opacity:0;
}

.item img, .text img{
	width:100%;
	height:auto;
}

.bulle{
	position:absolute;
	left:50px;
	top:19px;
	width:200px;
	height:auto;
}

.bulle svg{
	width:100%;
	height:auto;
}

.content-crochet{
	position:absolute;
	left:50%;
	top:45px;
	width:59px;
	height:51px;
	-moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
	opacity:0;
}

.content-crochet-2{
	top:58px;
}

.content-crochet .crochet{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	/*background-size:contain;*/
	background-size:59px 51px;
	background-position:50% 50%;
	background-repeat:no-repeat;
}

.content-crochet .crochet-2{
	
}



.cta{
	position:absolute;
	right:18px;
	bottom:16px;
	opacity:0;
}

.cta svg{
	width:93px;
	height:auto;
}


.logo{
	position:absolute;
	left:18px;
	bottom:16px;
	opacity:0;
}

.logo svg{
	width:130px;
	height:auto;
}

#CTA_-_EN, #IGA_seul_RGB_Image, #Atypique_Spritz_Image, #Atypique_Mojito_Image, #Table_Image {
	opacity: 0;
}